{% extends 'html.html.twig' %}

{% set head_title = 'AuthBucket\\Push' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="push" class="page-header">
                    <span class="hidden-xs hidden-sm visible-md-inline visible-lg-inline">AuthBucket\Push</span>
                    <span class="visible-xs-inline visible-sm-inline hidden-md hidden-lg">Push</span>
                </h1>
                <p>
                    <a href="https://travis-ci.org/authbucket/push-php"><img src="https://travis-ci.org/authbucket/push-php.svg?branch=master" alt="Build Status" /></a>
                    <a href='https://coveralls.io/github/authbucket/push-php?branch=master'><img src='https://coveralls.io/repos/authbucket/push-php/badge.svg?branch=master&service=github' alt='Coverage Status' /></a>
                    <a href="https://www.versioneye.com/php/authbucket:push-php/dev-master"><img src="https://www.versioneye.com/php/authbucket:push-php/dev-master/badge.svg" alt="Dependency Status" /></a>
                    <a href="https://packagist.org/packages/authbucket/push-php"><img src="https://poser.pugx.org/authbucket/push-php/v/stable.svg" alt="Latest Stable Version" /></a>
                    <a href="https://packagist.org/packages/authbucket/push-php"><img src="https://poser.pugx.org/authbucket/push-php/downloads.svg" alt="Total Downloads" /></a>
                    <a href="https://packagist.org/packages/authbucket/push-php"><img src="https://poser.pugx.org/authbucket/push-php/license.svg" alt="License" /></a>
                </p>
                <p class="lead">The primary goal of <a href="http://push-php.authbucket.com/">AuthBucket\Push</a> is to develop a library for sending out push notifications to mobile devices; secondary goal would be develop corresponding wrapper <a href="http://symfony.com">Symfony2 Bundle</a> and <a href="https://www.drupal.org">Drupal module</a>.</p>
                <p>This library bundle with a <a href="http://silex.sensiolabs.org/">Silex</a> based <a href="https://github.com/authbucket/push-php/blob/master/src/Provider/AuthBucketPushServiceProvider.php">AuthBucketPushServiceProvider</a> for unit test and demo purpose. Installation and usage can refer as below.</p>

                <h2 id="demo" class="page-header">Demo</h2>
                <p class="lead">The demo is based on <a href="http://silex.sensiolabs.org/">Silex</a> and <a href="https://github.com/authbucket/push-php/blob/master/src/Provider/AuthBucketPushServiceProvider.php">AuthBucketPushServiceProvider</a>. Read though <a href="http://push-php.authbucket.com/demo">Demo</a> for more information.</p>
                <p>You may also run the demo locally. Open a console and execute the following command to install the latest version in the <code>push-php</code> directory:</p>
<pre><code class="bash">$ composer create-project authbucket/push-php authbucket/push-php "~1.0"</code></pre>
                <p>Then use the PHP built-in web server to run the demo application:</p>
<pre><code class="bash">$ cd authbucket/push-php
$ app/console server:run</code></pre>
                <p>If you get the error <code>There are no commands defined in the &quot;server&quot; namespace.</code>, then you are probably using PHP 5.3. That's ok! But the built-in web server is only available for PHP 5.4.0 or higher. If you have an older version of PHP or if you prefer a traditional web server such as Apache or Nginx, read the <a href="http://silex.sensiolabs.org/doc/web_servers.html">Configuring a web server</a> article.</p>
                <p>Open your browser and access the <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a> URL to see the Welcome page of demo application.</p>
                <p>Also access <a href="http://127.0.0.1:8000/admin/refresh_database">http://127.0.0.1:8000/admin/refresh_database</a> to initialize the bundled SQLite database with user account <code>admin</code>:<code>secrete</code>.</p>

                <h2 id="documentation" class="page-header">Documentation</h2>
                <p class="lead">Push's documentation is built with <a href="https://github.com/fabpot/Sami">Sami</a> and publicly hosted on <a href="http://authbucket.github.io/push-php">GitHub Pages</a>.</p>
                <p>To built the documents locally, execute the following command:</p>
<pre><code class="bash">$ composer sami</code></pre>
                <p>Open <code>build/sami/index.html</code> with your browser for the documents.</p>

                <h2 id="tests" class="page-header">Tests</h2>
                <p class="lead">This project is coverage with <a href="http://phpunit.de/">PHPUnit</a> test cases; CI result can be found from <a href="https://travis-ci.org/authbucket/push-php">Travis CI</a>; code coverage report can be found from <a href="https://coveralls.io/r/authbucket/push-php">Coveralls</a>.</p>
                <p>To run the test suite locally, execute the following command:</p>
<pre><code class="bash">$ composer phpunit</code></pre>
                <p>Open <code>build/logs/html</code> with your browser for the coverage report.</p>

                <h2 id="references" class="page-header">References</h2>
                <ul>
                    <li><a href="http://push-php.authbucket.com/demo">Demo</a></li>
                    <li><a href="http://authbucket.github.io/push-php/">API</a></li>
                    <li><a href="https://github.com/authbucket/push-php">GitHub</a></li>
                    <li><a href="https://packagist.org/packages/authbucket/push-php">Packagist</a></li>
                    <li><a href="https://travis-ci.org/authbucket/push-php">Travis CI</a></li>
                    <li><a href="https://coveralls.io/r/authbucket/push-php">Coveralls</a></li>
                </ul>

                <h2 id="license" class="page-header">License</h2>
                <ul>
                    <li>Code released under <a href="https://github.com/authbucket/push-php/blob/master/LICENSE">MIT</a></li>
                    <li>Docs released under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
